absl-py==0.3.0
-e git+git@bitbucket.org:sparkcognition/amb.git@9a6e079b0ccdf6491cfd0df9028266b99626bf56#egg=amb
amb-utils==0.1
annoy==1.12.0
asn1crypto==0.24.0
astor==0.7.1
backcall==0.1.0
bokeh==0.13.0
cachetools==2.1.0
certifi==2018.8.13
cffi==1.11.5
chardet==3.0.4
click==6.7
cloudpickle==0.5.3
confluent-kafka==0.11.0
cryptography==2.3.1
cryptography-vectors==2.3.1
cycler==0.10.0
Cython==0.28.5
cytoolz==0.9.0.1
dask==0.18.2
decorator==4.3.0
dill==0.2.7.1
distributed==1.22.1
downhill==0.4.0
ds-tools==0.16.0
fastcluster==1.1.25
gast==0.2.0
google-api-core==0.1.4
google-auth==1.2.1
google-cloud-core==0.28.1
google-cloud-storage==1.6.0
google-resumable-media==0.3.1
googleapis-common-protos==1.5.3
graphviz==0.8.1
grpcio==1.12.1
h5py==2.8.0
hdbscan==0.8.15
heapdict==1.0.0
idna==2.7
imbalanced-learn==0.3.3
imblearn==0.0
iml==0.6.2
ipdb==0.11
ipython==6.5.0
ipython-genutils==0.2.0
jedi==0.12.1
Jinja2==2.10
joblib==0.12.2
Keras==2.2.2
Keras-Applications==1.0.4
Keras-Preprocessing==1.0.2
kiwisolver==1.0.1
llvmlite==0.24.0
locket==0.2.0
Mako==1.0.7
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.2.3
mkl-fft==1.0.4
mkl-random==1.0.1
mpld3==0.3
msgpack==0.5.6
munkres==1.0.11
networkx==1.11
numba==0.39.0
numexpr==2.6.7
numpy==1.15.0
olefile==0.45.1
packaging==17.1
pandas==0.22.0
parso==0.3.1
partd==0.3.8
patsy==0.5.0
pexpect==4.6.0
pickleshare==0.7.4
Pillow==5.2.0
progressbar2==3.38.0
prompt-toolkit==1.0.15
protobuf==3.6.0
psutil==5.4.6
psycopg2==2.7.3.1
ptyprocess==0.6.0
pyasn1==0.4.4
pyasn1-modules==0.2.1
pycparser==2.18
pydot==1.2.3
Pygments==2.2.0
pygpu==0.7.6
pyOpenSSL==18.0.0
pyparsing==2.2.0
PySocks==1.6.8
python-dateutil==2.7.3
python-utils==2.3.0
pytz==2018.5
PyYAML==3.13
requests==2.19.1
rsa==3.4.2
scikit-learn==0.19.1
scikit-optimize==0.5.1
scipy==1.1.0
shap==0.14.1
simplegeneric==0.8.1
six==1.11.0
sortedcontainers==2.0.4
statsmodels==0.9.0
tables==3.4.4
tblib==1.3.2
tensorboard==1.9.0
tensorboardX==1.4
tensorflow==1.9.0
termcolor==1.1.0
Theano==1.0.2+2.gc449c8699
toolz==0.9.0
torch==0.4.0
torchvision==0.2.1
tornado==5.1
tqdm==4.23.2
traitlets==4.3.2
urllib3==1.23
wcwidth==0.1.7
Werkzeug==0.14.1
xgboost==0.7.post3
zict==0.1.3
